header {
    //border-style: solid;
    padding: 1em;
} 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display:flex;
    flex-direction: column;
}
nav {
    //border-style: solid;
    padding: 1em;
}

div {
    //border-style: solid;
}
#middle {
    padding: 2em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.searchbarinput {
    text-align: center;
}
img.logo {
        display:block;
        margin-left: auto;
        margin-right:auto;
        width: auto;
        max-width: 100%;
        padding-top: 5em;
        padding-bottom: 2em;       
    }
input.searchbar {
        margin-left: auto;
        margin-right:auto;
        padding: 0.3em;
        width: 600px;
        height: 40px;
        max-width: 600px;
        margin-top: .5em;
        border-radius: 30px;
        border: 1.5px #D3D3D3 solid;
        position: relative;
    }

#lupa {
    position: relative;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input.searchbar:hover {
        box-shadow: 0 0 3px rgba(22, 11, 11, 0.281); 
      }
ul.nav {
    position:fixed;
    top: 0;
    width: 94%;
    list-style-type: none;
    margin: 0;
    //padding-right: 1em;
    overflow: hidden;
    //background-color: black;
}
ul.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0e0de;
}
li {
    float: left;
}

li.nav {
    float: right;
}right
li.footer {
    float: inline-start;
}


li a {
    display: inline-block;
    padding: 16px;
    background-color:white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
a.footer {
    display: inline-block;
    padding: 16px;
    background-color: #e0e0de;
    text-align: center;
    text-decoration: none;
    color: #636362;
}

div.whitespace {
    padding: 4em;   
}
div.seachbardiv {
    padding: 4em;
}
button {
    margin-left: auto%;
    margin-right: auto%;
    margin-top: 1em;
    display: inline-block;    
}
div.container {
    text-align: center;
}
footer {
    background-color: gray;
    margin: 0px;
}
